{% extends 'layout.html' %}
{% block title %}
About
{% endblock %}
{% block main %}
<!-- this is About Us starts-->
<div class="row bg-primary mt-5" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
    <div class="container">
      <div class="row  p-5 ppp">
          <div class="col-lg-6 w100 text-light ">
              <h3>About Biotech Park</h3>
              <hr>
              <p style="text-align: justify; color:white; font-family: sans-serif;">
                  Welcome to Bio Tech Lucknow, India’s premier research center dedicated to pioneering advancements in biotechnology. As the nation’s number one research hub, we are at the forefront of innovative scientific research, driving breakthroughs that shape the future of healthcare, agriculture, and environmental sustainability.
    
                  Our state-of-the-art facilities and world-class laboratories are staffed by a team of distinguished scientists and researchers committed to excellence. At Bio Tech Lucknow, we focus on cutting-edge research in genomics, bioinformatics, and molecular biology, striving to translate scientific discoveries into practical solutions that benefit society.
    
                  We pride ourselves on fostering a collaborative environment that encourages creativity and innovation. Our partnerships with leading academic institutions, industry leaders, and government agencies enable us to stay ahead in the rapidly evolving field of biotechnology.
    
                  Join us in our mission to push the boundaries of science and improve the quality of life through groundbreaking research and sustainable technological advancements. Bio Tech Lucknow is not just a research center; it is a beacon of progress and a catalyst for change in the biotech landscape of India.
              </p>
          </div>
          <div class="col-lg-6 p-2 mt-4 w100 ">
              <iframe width="90%" class="rop" height="400" src="https://www.youtube.com/embed/n4XnjmavROw?si=xyklZkVLgmroA0bU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
    
      </div>
    </div>
    </div>
    
    <!-- this is About Us ends -->
{% endblock %}
