{% extends 'adminzone.html' %}
{% block admin %}
<div class=" mt-5 bg-primary" style="height: 50px; width: 200px; border:1px solid transparent; border-radius: 0px 30px 30px 0px;">
    
    <h4 class="" style="margin-top: 13px; margin-left: 10px; color:white;">Edit Session</h4>
</div>
<div class="container mt-4">
    <div class="row">
       <form method="post">
        {% csrf_token %}
        <div class="row border p-3 bg-light shadow m-3 rounded-2">
            <div class="col-sm-12">
                <label for="" class="mb-2">Enter Session</label>
                <input type="text" name="session" id="" class="form-control rounded-0 border-dark" value="{{ab.session}}">
            </div>
            <div class="col-sm-12 mt-3">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </div>
       </form>
    </div>
{% endblock %}