{% extends 'layout.html' %}
{% block title %}
Home
{% endblock %}
{% load static %}
{% block main %}
 <!--slider starts  -->
 <div class="row">
    <div class="col-sm-12 p-0">
        
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/img/silder2.jpg" height="550vh" class="d-block w-100 x" alt="...">
                    <div class="carousel-caption">

                        <div class="box text-start p-4"
                             style=" margin-top: -420px; margin-left: -170px; width:70%; background-color: rgba(13, 105, 196, 0.689);">

                            <h5 style="font-size: 50px;" class="fw-bold ">Functional Biotech Park In North India</h5>
                            <p>
                                Bio Tech Park is India&#39;s top research center, leading in biotechnology and scientific advancements
                            </p>
                            <button style="background-color: rgb(8, 169, 8); border:0px; padding: 10px; color:white;">
                                Explore Now
                            </button>
                        </div>
                    </div>


                </div>
                
            </div>
            
        </div>
    </div>
</div>
<!-- this is a Silder -->
<div class="row scape" style="background-image: url(static/img/image.png); height: 200px; position: relative; margin-top: -140px;"></div>

<div class="row" style="margin-top:-40px;">
    <div class="col-md-1"></div>
    <div class="col-2 sp1 my-auto p-2 ra1" style="z-index: 999; background-color: rgb(18, 121, 5); "><h5><span style="  color: white; padding: 10px; ">Announcement</span></h5></div>
   
        <div class="col-7 sp2 my-auto p-2 ra2" style=" background-color: rgb(4, 89, 209); z-index:999; padding: 6px; ">

            <p class="my-auto"><span style=" color: white; border: 1px solid transparent" class="my-auto"><marquee>
        <img src="static/img/new1.gif" height="15" /><span>Join our webinar on Bioinformatics, &quot;Unlocking the Power of Bioinformatics,&quot; on September 14th, 2024, at 11:00 AM!</span> <a href="" style=" color:white" class="fw-bold" target="_blank">Register here</a>
     <img src="static/img/new1.gif" height="15" /><span>A Webinar  on "Advancements in Medicinal Plant Biotechnology Research" will be held on September 21st, 2024, from 11:00 AM to 12:30 PM (IST).</span> <a href="" style=" color:white" class="fw-bold" target="_blank">Register here</a>
    
</marquee></span></p>
        </div>
        <!-- slider ends -->
         <!-- fasility section starts-->
<div class="d-flex" style="margin-top: -140px; padding-top:160px ">
<div class="container ">
    <div class="row">
        <div class="col-sm-12 mt-2 ">
            <h2 class="mt-5">
                <span class="col" style=" padding-bottom:10px;">
                    We Cover The Whole Spectrum :
            </h2>
            <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-4">
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/infra.jpg" height="200vh" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Modern Infrastructure</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/clean.jpg" height="200vh" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Clean Environment</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/IMG_4754.jpg" height="200vh" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hi-Tech laboratories</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/skill.jpeg" height="200vh" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Skill Development</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
            </div>
        </div>
    </div>
    
</div>

<!-- fasility section ends -->
<!-- this is About Us starts-->
<div class="row bg-primary mt-5" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
<div class="container">
  <div class="row  p-5 ppp">
      <div class="col-lg-6 w100 text-light ">
          <h3>About Biotech Park</h3>
          <hr>
          <p style="text-align: justify; color:white; font-family: sans-serif;">
              Welcome to Bio Tech Lucknow, India’s premier research center dedicated to pioneering advancements in biotechnology. As the nation’s number one research hub, we are at the forefront of innovative scientific research, driving breakthroughs that shape the future of healthcare, agriculture, and environmental sustainability.

              Our state-of-the-art facilities and world-class laboratories are staffed by a team of distinguished scientists and researchers committed to excellence. At Bio Tech Lucknow, we focus on cutting-edge research in genomics, bioinformatics, and molecular biology, striving to translate scientific discoveries into practical solutions that benefit society.

              We pride ourselves on fostering a collaborative environment that encourages creativity and innovation. Our partnerships with leading academic institutions, industry leaders, and government agencies enable us to stay ahead in the rapidly evolving field of biotechnology.

              Join us in our mission to push the boundaries of science and improve the quality of life through groundbreaking research and sustainable technological advancements. Bio Tech Lucknow is not just a research center; it is a beacon of progress and a catalyst for change in the biotech landscape of India.
          </p>
      </div>
      <div class="col-lg-6 p-2 mt-4 w100 ">
          <iframe width="90%" class="rop" height="400" src="https://www.youtube.com/embed/n4XnjmavROw?si=xyklZkVLgmroA0bU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

  </div>
</div>
</div>

<!-- this is About Us ends -->
<!-- our Board Member starts-->
<div class="container mt-5 ">
<div class="row mt-4">
  <div>
      <div class="container">
          <div class="col-sm-12">
              <span style="font-size: 40px; font-weight: 500;"
                    class="">
                  <span style=" padding-bottom:5px; ">Our Mentors :


              </span>
          </div>
      </div>
  </div>

</div>
<div>
  <div class="container d-flex">
      <div class="row row-cols-1 row-cols-sm-4 mt-4 g-4">
          <div class="col-md-3 tm hello w501 w100">
              <div class="card  h-100 shadow rounded-0 p-2" >
                  <img src="static/img/Govermer.jpg" class="card-img-top rounded-circle p-2 h-100" height="280px"
                       style="border: 1px solid rgb(12, 209, 104);" alt="...">
                  <div class="card-body">
                      <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);">Smt. Anandiben Patel</h5>
                      <p class="card-text text-center fw-bold">Hon’ble Governor <br />Uttar Pradesh</p>
                  </div>
              </div>

          </div>
          <div class="col-md-3 tm hello w501 w100">
              <div class="card h-100 shadow rounded-0 p-2" >
                  <img src="static/img/yogiji.jpg" class="card-img-top rounded-circle p-2 h-100" height="280px"
                       style="border: 1px solid rgb(12, 209, 104);" alt="...">
                  <div class="card-body">
                      <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);"> Shri Yogi Adityanath</h5>
                      <p class="card-text text-center fw-bold">Hon’ble Chief Minister<br />Uttar Pradesh</p>
                  </div>
              </div>

          </div>
          <div class="col-md-3 tm hello w501w100">
              <div class="card h-100 shadow rounded-0 p-2">
                  <img src="static/img/Minister2.jpg" class="card-img-top rounded-circle p-2 h-100" height="280px"
                       style="border: 1px solid rgb(12, 209, 104);" alt="...">
                  <div class="card-body">
                      <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);"> Shri Anil Kumar</h5>
                      <p class="card-text text-center fw-bold">Hon’ble Cabinet Minister<br />DST, GoUP</p>
                  </div>
              </div>

          </div>
          <div class="col-md-3 tm hello w501 w100">

              <div class="card h-100 shadow rounded-0 p-2">
                  <img src="static/img/Prof JP Pandey.jpg" class="card-img-top rounded-circle p-2 h-100"
                       style="border: 1px solid rgb(12, 209, 104);" height="280px" alt="...">
                  <div class="card-body">
                      <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);"> Prof. J. P. Pandey</h5>
                      <p class="card-text text-center fw-bold">CEO <br />Biotech Park, Lucknow</p>
                  </div>

              </div>

          </div>
      </div>
  </div>
</div>
</div>



<!-- our Board Member ends-->
<!-- service starts-->
<div class="row d-flex dd">
<div>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 mt-5 mb-3">
            <h1 class="a"><span class="border-line1 border-line" style="padding-bottom:10px;">Agriculture Services Industry :</h1>


        </div>
        <div class="row mt-2">
            <div class="col-md-6 w100">
                <hr />
                <h4 class="text p-2"><a href="">1. Agriculture & Health</a></h4>
                <hr>
                <h4 class="text p-2"><a href="">2. Chemical & Metrical</a></h4>
                <hr>
                <h4 class="text p-2"><a href="">3. Soil Analysis</a></h4>
                <hr>
                <h4 class="text p-2"><a href="">4. Soil Tillage</a></h4>
                <hr>
            </div>
            <div class="col-md-6  w100 fh mx-auto text-center" style="position:relative;">

                <img src="static/img/ag.jpeg" class="w-100 a  h-100 mx-auto a1" alt="">
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- service ends -->
<!-- resarch project starts-->
<div class="row mt-5 mb-4 d-flex" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5)); Height:auto;">
<div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 p-3">
            <h1 class="text-center mt-4 text-light">Biotech Award Winning Research Project</h1>
            <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-4">
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/infra.jpg" height="200vh" class="card-img-top" alt="...">
                      
                  </div>
              </div>
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/clean.jpg" height="200vh" class="card-img-top" alt="...">
                      
                  </div>
              </div>
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/IMG_4754.jpg" height="200vh" class="card-img-top" alt="...">
                    
                  </div>
              </div>
              <div class="col">
                  <div class="card border-0 h-100 shadow">
                      <img src="static/img/skill.jpeg" height="200vh" class="card-img-top" alt="...">
                      
                  </div>
              </div>
          </div>


                    </div>
            
        </div>
    </div>
</div>
</div>

<!-- resarch project ends -->
<!-- News And Update starts-->
<div class="row mt-5 d-flex">
<div>
<div class="container">
    <h2 class="mb-4 fw-bold"><span class="border-line1 border-line" style=" padding-bottom:5px; ">Latest News</span> And Updates</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-4">
        <div class="col">
            <div class="card border-0 h-100 shadow">
                <img src="static/img/new1.jpeg" height="200vh" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">"On March 13, 2023, a lease was signed for Vatican Shona Agrotech to set up a tissue culture lab at Biotech Park, Lucknow."</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 h-100 shadow">
                <img src="static/img/new2.jpeg" height="200vh" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">"On February 24, 2023, Awanish Kumar Awasthi visited Biotech Park, Lucknow, and interacted with the incubatees there."</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 h-100 shadow">
                <img src="static/img/events.jpeg" height="200vh" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">"On February 16, 2023, Gene to Protein launched 'GreenRTM dye' and qPCR Mastermix at Biotech Park, inaugurated by Alok Kumar."</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 h-100 shadow">
                <img src="static/img/eventee.jpeg" height="200vh" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">"A two-day workshop on "Production & Cultivation of Cordyceps militaris" was organized from April 22 to 24, 2022."</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div class="row">
<div class="col-sm-12 mb-5 text-center">
<button style="height: 45px; width: 100px; background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5)); color:white; border:0px;">Read More</button>
</div>
</div>
<!-- News And Update ends -->
<!-- client feedback starts-->
<div class="row bg-color d-flex " style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
<div>
<div class="container">
    <h1 class="mt-4 text-light"><span class="border-line" style=" padding-bottom: 10px;">Training  </span>Programme For Students</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-4">
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/tra2.jpg" height="200vh" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Bioformatics</b></p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/tra3.jpg" height="200vh" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Industrial Biotechnology</b></p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/tra5.jpeg" height="200vh" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Microbiolody</b></p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/tra6.jpg" height="200vh" class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Plant-Tissue culture</b></p>
              </div>
          </div>
      </div>
  </div>
                </div>

         
            
            
        </div>
    </div>

<!-- client feedback ends-->
<!-- our Client starts-->
<div class="container">
<div class="row">
<div class="col-sm-12 mt-5">
    <h1 class="fw-bold"><span style=" padding-bottom:5px;">Our Clients :</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-4">
      <div class="col">
          <div class="card border-0 h-100 shadow text-center">
              <img src="static/img/carti5.jpeg" height="200vh" width="200px"  style="margin-left: 50px; margin-top: 20px;" class="" alt="...">
             
          </div>
      </div>
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/cl1.png" height="250vh" class="card-img-top" alt="...">
              
          </div>
      </div>
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/cp1.png" height="250vh" class="card-img-top" alt="...">
              
          </div>
      </div>
      <div class="col">
          <div class="card border-0 h-100 shadow">
              <img src="static/img/cp4.jpg" height="250vh" class="card-img-top" alt="...">
             
          </div>
      </div>
  </div>
    

            </div>
    </section>
</div>
</div>

<!-- our Client ends -->

{% endblock %}